@*@model iTest.Web.Areas.Admin.Models.CreateTestViewModel


    <h2>New Test</h2>
    <div class="row">
        <form asp-area="Admin" asp-controller="ManageTest" asp-action="Create" method="post">
            <div class="form-group col-md-6">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="RequestedTime"></label>
                <input asp-for="RequestedTime" class="form-control" />
                <span asp-validation-for="RequestedTime" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Category">Category</label>
                <select asp-for="Category" asp-items="Model.Categories" class="form-control"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <div id="questions-container">

                    <div class="row">
                        <h3 class="col-md-6">Add questions to your Test</h3>
                        <div class="pull-right">
                            <button id="collapse-questions" class="btn btn-primary" type="button">Collapse All</button>
                            <button id="add-question" class="btn btn-success" type="button">Add Question</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="well">
                            <div class="row">
                                <div id="questions-body">
                                    @{
                                        if (Model.Questions != null && Model.Questions.Count != 0)
                                        {
                                            for (int q = 0; q < Model.Questions.Count; q++)
                                            {
                                                <div id="question-@q" class="question-container panel panel-default">
                                                    <button class="delete-question btn btn-danger btn-xs pull-right" type="button">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                    <button class="edit-question btn btn-danger btn-xs pull-right" type="button">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <a href="#collapse-@q" data-toggle="collapse" data-parent="#accordion">
                                                        <div class="panel-headixng">
                                                            <h4 class="panel-title">Question @string.Format("{0}", q + 1)</h4>
                                                        </div>
                                                    </a>
                                                    <div id="collapse-@q" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <div class="question-description">
                                                                <h3>Description</h3>
                                                                <input type="hidden" id="@string.Format("Questions_{0}__BodyPlaintext", q)" name="Questions[@q].BodyPlaintext" value="" />
                                                                <textarea id="@string.Format("Questions_{0}__Body", q)" name="Questions[@q].Body" class="summernote form-control">@Model.Questions[q].Body</textarea>
                                                                <span asp-validation-for="Questions[@q].Body" class="text-danger"></span>
                                                            </div>
                                                            <div class="answers-container">
                                                                @if (Model.Questions[q].Answers != null)
                                                                {
                                                                    for (int a = 0; a < Model.Questions[q].Answers.Count; a++)
                                                                    {
                                                                        <div id="question-@q-answer-@a" class="answer-container">
                                                                            <div class="row answer-header">
                                                                                <div class="col">
                                                                                    <h3>Answer @string.Format("{0}", a + 1)</h3>
                                                                                </div>
                                                                                <div class="col">
                                                                                    <button class="delete-answer btn btn-danger btn-xs pull-right" type="button">
                                                                                        <span class="glyphicon glyphicon-trash"></span>
                                                                                    </button>
                                                                                    <label class="btn btn-success pull-right">
                                                                                        @if (Model.Questions[q].Answers[a].IsCorrect)
                                                                                        {
                                                                                            <input id="@string.Format("Questions_{0}__Answers_{1}__IsCorrect", q, a)" name="radio-@q" class="answer-is-correct" type="radio" value="true" autocomplete="off" checked>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <input id="@string.Format("Questions_{0}__Answers_{1}__IsCorrect", q, a)" name="radio-@q" class="answer-is-correct" type="radio" value="true" autocomplete="off">
                                                                                        }
                                                                                        <span class="glyphicon glyphicon-ok"></span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <input type="hidden" id="@string.Format("Questions_{0}__Answers_{1}__ContentPlaintext", q, a)" name="Questions[@q].Answers[@a].ContentPlaintext" value="" />
                                                                            <textarea id="@string.Format("Questions_{0}__Answers_{1}__Content", q, a)" name="Questions[@q].Answers[@a].Content" class="answer-content summernote form-control">@Model.Questions[q].Answers[a].Content</textarea>
                                                                            <span asp-validation-for="Questions[q].Answers[a].Content" class="text-danger"></span>
                                                                        </div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <div class="no-answers">
                                                                        <h4 class="w-100 p-3">You need to add Answers to your Question</h4>
                                                                    </div>
                                                                }
                                                            </div>
                                                            <span asp-validation-for="Questions[q].Answers" class="text-danger"></span>
                                                        </div>
                                                        <div class="panel-body">
                                                            <button class="add-answer btn btn-default pull-right" name="collapse-@q" type="button">Add Answer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div>
                                                <h4 class="w-100 p-3 text-center">You need to add Questions to your Test</h4>
                                            </div>
                                        }
                                    }
                                </div>
                                <span asp-validation-for="Questions" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        x
                        <input class="create-test btn btn-primary" type="submit" value="false">Save as Draft</input>
                        <input class="create-test btn btn-success" type="submit" value="true">Publish</input>
                    </div>
                </div>
            </div>
        </form>
    </div>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
        <script src="~/js/create-test.js"></script>
    }*@