@using iTest.Web.Areas.Users.Models
@model UserDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}
<h1>Dashboard</h1>
<div class="category-tabs">
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                @foreach (var category in Model.Categories)
                {
                    if (category.Name == "Java")
                    {
                        <li class="active">
                            <a data-toggle="tab" href="#@category.Id">@category.Name</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a data-toggle="tab" href="#@category.Id">@category.Name</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            @foreach (var category in Model.Categories)
            {
                Random rnd = new Random();
                @if (@category.Name == "Java")
                {
                    <div class="tab-pane fade in active" id="@category.Id">
                        @if (@category.Tests.Any())
                        {
                            var test = @category.Tests
                                .OrderBy(x => rnd.Next())
                                .Take(1)
                                .FirstOrDefault();
                            <label>
                                @test.Name
                            </label>
                            <a asp-route="/Users/UserTests/Details/@test.Id" method="get" class="btn btn-sm pull-right">Start</a>
                        }
                    </div>
                }
                else
                {
                    <div class="tab-pane" id="@category.Id">
                        @if (@category.Tests.Any())
                        {
                            var test = @category.Tests
                                .OrderBy(x => rnd.Next())
                                .Take(1)
                                .FirstOrDefault();
                            <label>
                                @test.Name
                            </label>
                            <a asp-route="/Users/UserTests/Details/@test.Id" method="get" class="btn btn-sm pull-right">Start</a>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>

@*<h2>Dashboard</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#1" data-toggle="tab">.NET</a></li>
                        <li><a href="#2" data-toggle="tab">Java</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <table class="table table-striped table-bordered tests" style="width:100%" data-page-length='10'></table>
                        </div>
                        <div class="tab-pane fade" id="tab2default">
                            <table style="width: 100%" class="table table-striped custab" data-page-length='10'></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
    <script src="~/js/dashboard.js"></script>

}
