@using iTest.Web.Areas.Users.Models
@model UserDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>
<p>Welcome @Model.Author. This is your dashboard.</p>

<div class="container">

    <ul class="nav nav-tabs">
        @if (@Model.Categories.Count() != 0)
        {
            @foreach (var category in Model.Categories)
            {
                if (category.Name == "Java")
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="#@category.Id">@category.Name</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="#@category.Id">@category.Name</a>
                    </li>
                }
            }
        }
    </ul>

    <div class="tab-content">
        @if (@Model.Tests.Count() != 0)
        {
            @foreach (var test in Model.Tests)
            {
                <div class="tab-pane container active" id=@test.Name>
                    <label>@test.Name</label>
                    <a asp-area="Users" asp-controller="UserTests" asp-action="Details/@test.Id" method="get" class="btn btn-sm pull-right">Start</a>
                </div>
            }
        }
    </div>
</div>
